@import url('http://fonts.cdnfonts.com/css/monster-clubhouse');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.banner{
    height: 340px;
    background: url('../../public/assets/bcq.png') 0% 0% no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px;
    position: relative;
    margin-bottom: 9rem;
} 

.text-banner{
    position: absolute;
    top: 40px;
    left: 10%;
    color: #fff;
    font-size: 5rem;
}

.title-banner{
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.subtitle-banner{
    font-family: 'Monster Clubhouse';
    font-weight: 400;
    position: absolute;
    top: 66px;
    left: 0px;
    width: 300px;
}

@media (min-width: 960px) { 
    .banner{
        height: 480px;
        margin-bottom: 0;
    } 
    .text-banner{
        position: absolute;
        top: 120px;
        left: 20%;
        color: #fff;
        font-size: 5rem;
    }
}

@media (max-width: 420px) { 
    .banner{
        height: 240px;
    }
    .text-banner{
        top: 26px;
        font-size: 6vh;
    }

    .subtitle-banner{
        top: 50px;
        left: -44px; 
    }
}